{% extends 'base.html.twig' %}


{% block body %}

    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ msg }}
        </div>
    {% endfor %}

            {% for menuObject in menuData %}

                {% set menuFormView = menuObject['form'].createView %}
                {% set menu = menuObject['menu'] %}
                <div class="row">
                    <div class="col-sm">
                        {{ menu.date|date("l", false) }}
                    </div>
                    <div class="col-sm">
                        {{ menu.date|date("d-m-Y", false) }}
                    </div>
                    <div class="col-sm">
                        {{ form_start(menuFormView) }}
                            {{ form_widget(menuFormView) }}
                        {{ form_end(menuFormView) }}
                    </div>
                </div>
            {% endfor %}


        <a href="{{ path('meal_add_ingredient', {"id": 1, "ingredientName": "Kaas"}) }}">New ingredient to meal</a><br>
        <a href="{{ path('meal_add') }}">New meal</a><br>
{% endblock %}