{% extends 'base.html.twig' %}


{% block body %}
            {% for menu in menus %}

                {% set mealFormView = mealForm.createView %}
                <div class="row">
                    <div class="col-sm">
                        {{ menu.date|date("l", false) }}
                    </div>
                    <div class="col-sm">
                        {{ menu.date|date("d-m-Y", false) }}
                    </div>
                    <div class="col-sm">
                        {% if (menu.meal) %}
                            {{ menu.meal.name }}
                        {% endif %}
                        {{ form_start(mealFormView) }}
                        {{ form_widget(mealFormView.meal, {value: 1}) }}
                        {{ form_widget(mealFormView.menu, {value: menu.id}) }}
                        {{ form_widget(mealFormView.save) }}
                        {{ form_end(mealFormView) }}
                    </div>
                </div>
            {% endfor %}

        <a href="{{ path('meal_add_ingredient', {"id": 1, "ingredientName": "Kaas"}) }}">New ingredient to meal</a><br>
        <a href="{{ path('meal_add') }}">New meal</a><br>
{% endblock %}